ul.Menu {
  list-style-type: none;
  padding: 0 5vw;
}
ul.Menu li {
  display: grid;
  grid-template-columns: auto 1em;
  padding: 0.25em;
  font-size: 2em;
  background-color: hsl(210, 50%, 30%);
  border: 2px solid hsl(210, 50%, 90%);
  border-radius: 0.25em;
}
ul.Menu li:hover {
  background-color: hsl(210, 100%, 30%);
}
ul.Menu li > div {
  font-weight: 600;
}
ul.Menu img.icon {
  height: 1em;
}
