code {
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
}
html {
  background-color: hsl(210, 50%, 15%);
  color: hsl(210, 50%, 90%);
}
.Header {
  min-height: 3em;
  position: sticky;
  top: 0;
  font-weight: bold;
  background: hsl(210, 50%, 15%);
  border-bottom: 2px solid hsl(210, 50%, 30%);
}
.Header button {
  background: none;
  border: none;
}
.menu-icon {
  height: 2em;
  margin: 0.5em;
  /* float: right; */
}
.Main {
  min-height: 100vh;
}
#winds-aloft-chart {
  display: flex;
  flex-direction: column;
}
#winds-aloft-chart .footer {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
#winds-aloft-chart .sounding {
  display: flex;
  border-bottom: 1px solid hsl(210, 50%, 30%);
}
#winds-aloft-chart .sounding > div {
  flex: 1;
  text-align: center;
}
.Loading-indicator {
  margin-top: calc(50vh - 12.5vmin);
  text-align: center;
}
.Loading-indicator-svg {
  height: 25vmin;
  animation: Loading-indicator-spin infinite 1s step-start;
}
@keyframes Loading-indicator-spin {
  0% {
    transform: rotate(0deg);
  }
  6.25% {
    transform: rotate(22.5deg);
  }
  12.5% {
    transform: rotate(45deg);
  }
  18.75% {
    transform: rotate(67.5deg);
  }
  25% {
    transform: rotate(90deg);
  }
  31.25% {
    transform: rotate(112.5deg);
  }
  37.5% {
    transform: rotate(135deg);
  }
  43.75% {
    transform: rotate(157.5deg);
  }
  50% {
    transform: rotate(180deg);
  }
  56.25% {
    transform: rotate(202.5deg);
  }
  62.5% {
    transform: rotate(225deg);
  }
  68.75% {
    transform: rotate(247.5deg);
  }
  75% {
    transform: rotate(270deg);
  }
  81.25% {
    transform: rotate(292.5deg);
  }
  87.5% {
    transform: rotate(315deg);
  }
  93.75% {
    transform: rotate(337.5deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Menu {
  display: flex;
  flex-direction: column;
  margin: 1vh 10vw;
}
.Menu a {
  text-decoration: none;
  color: hsl(210, 50%, 90%);
  font-size: 2em;
  font-weight: bold;
}
.Menu div {
  border: 3px solid hsl(210, 50%, 30%);
  border-radius: 1em;
  padding: 0 1em 0.5em 1em;
}
